body{
    background-color: black;
}

.myhead{
  margin-bottom: 24px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.myname{
  font-size: 32px;
  font-weight: bold;
}

.me{
  background-color: #161b22;
  color: gray;
  user-select: none;
}
